
:host {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
}
.event {
  &__item {
    flex: 1;
    padding: 10px;
    &:not(:last-child) {
      border-right: 1px solid #ced4da;
    }
  }
}
